{% extends "main/base.html" %}
{% load static %}

{% block moreheader %}<link rel="canonical" href="{% url 'docs:bitcoin-ethereum' %}" />{% endblock %}
{% block title %}Blockchain, Cryptocurrencies, and Crowdfunding{% endblock %}
{% block header %}Blockchain, Cryptocurrencies, <span>and Crowdfunding</span>{% endblock %}
{% block shortheader %}BITCOIN AND ETHERIUM{% endblock %}
{% block breadcrumbs %}
    <li><a href="{% url 'docs:bitcoin-ethereum' %}">BITCOIN AND ETHERIUM DONATIONS/CROWDFUNDING</a></li>
{% endblock %}

{% block content %}
    <img src="img/service/1.jpg" class="img-responsive"
         style="float: left; margin-right:10px; margin-bottom:10px; width: 50%">
    <p>Blockchain—the underlying technology for BitCoin and Etherium—has received widespread acceptance recently and is being used for a number of new applications owing to its security and transparency. One such application is business funding, which also includes creating innovative ways of financing non-profit projects.</p>
    <p>This has been a welcoming change primarily due to a number of problems associated with traditional business crowdfunding that takes one of three forms: bank funding, self-funding, or venture capital. Self-funding was and still remains incredibly limited for most people, bank funding requires positive cash flows along with significant revenues, and venture fund capital hinges on a product or service with mass appeal.</p>
    <p>Also, according to an article published on medium, crowdfunding projects on popular platforms such as Kickstarter and Patreon sometimes fail to provide transparency and act in ways that maximize the interests of the said platforms rather than the users.</p>
    <p>Such factors make it incredibly difficult for both businesses and entrepreneurs to access funding and inhibit growth for products and/or services that have massive potential. Because blockchain is completely transparent, is accessible from anywhere, and makes the funding process safe, it can maximize the probability of success, especially for non-profit initiatives that champion worthy causes and stand to benefit society the most.</p>
    <p>Enter Crypto4NGO: an open-source platform and website designed to help worthy non-profit projects access the financing they deserve. It enables users to create their own unique BitCoin and Etherium-backed cryptocurrencies which can be bought and sold to generate revenue. The service is free to use for both fundraisers and traders/donors and represents an innovative concept with the potential to give life to worthy causes.</p>
{% endblock %}
