{% extends "main/base.html" %}
{% load static %}

{% block moreheader %}<link rel="canonical" href="{% url 'docs:charter' %}" />{% endblock %}
{% block title %}Charter{% endblock %}
{% block header %}<span>Charter</span>{% endblock %}
{% block shortheader %}Charter{% endblock %}
{% block breadcrumbs %}
    <li><a href="{% url 'docs:charter' %}">Charter</a></li>
{% endblock %}

{% block content %}
<p>Ignore all the below. After the US goverment stole $550.46 from me, we are again a nonprofit unregistered in
    Russia, don't want to deal with toxic US.</p>
<blockquote>
    <p>US government stole $550.46 from me.</p>
    <p>I paid $400 to register a 501(c)3 nonprofit in the US that is the right to operate in the US. Now I have no
        person with SSN in the nonprofit and so PayPal locked my $150.46 on a nonprofit account. Total $550.46 stolen
        or cheated (no right for which I paid and no return of borrowed money).</p>
    <p>The funny thing is that I can just stop two scientific projects and the would lose trillions of dollars (in
        addition to what they already lost with their silly behavior).</p>
</blockquote>

<p>crypto4ngo.org (dba CryptoNGO or crypto4ngo) is a project by Victor Porton's Foundation,
    a 501(c)3 nonprofit registered in Colorado, Greeley, CO, United States
    (under control of Victor Lvovich Porton, living in Ashkelon, Israel, an Israel and Russian citizen).</p>
<p>Victor Porton's Foundation is controlled by Victor Porton, currently living in Ashkelon, Israel.</p>
<p>CryptoNGO is a noncommercial project which develops open source software which helps to finance other noncommercial
    organizations (<q>benefactors</q>) and personal noncommercial projects especially of poor people through using
    cryptocurrencies and other means,
    particularly through issuing new cryptocurrencies for financing a particular project.</p>
<p>The service of CryptoNGO is gratis for benefactors.</p>
<p>CryptoNGO supports software for trading by newly issuing currencies in order to finance projects of benefactors effectiviely.</p>
<p>CryptoNGO can pursue in a lawsuite authors of fake projects and other crook acts related with CryptoNGO infrastructure.</p>
{# <p>The CEO (that is Victor Porton) of the organization may block projects which are considered not good for the mankind.</p> #}
<p>Victor Porton is most probably going to create a separate 501(c)3 nonprofit for this project.
    This is not yet necessary because Victor Porton is the sole director with unlimited control rights, yet.</p>
<h3>USA official document references</h3>
<ul>
    <li><a target="_blank" href="https://www.sos.state.co.us/biz/BusinessEntityHistory.do?quitButtonDestination=BusinessEntityDetail&pi1=1&nameTyp=ENT&masterFileId=20151334167&entityId2=20151334167&srchTyp=ENTITY">
        The list of filed documents</a> (at the Colorado Secretary of State site).</li>
    <li>The <a target="_blank" href="{% static 'legal/1023-vpf.pdf' %}">1023 tax exempt form</a> filed to the IRS.</li>
    <li>Tax reporting 990 forms are available <a target="_blank" href="https://www.guidestar.org/profile/47-4102582">here</a>.</li>
</ul>
<h3>Contact data</h3>
<h4>Mailing addresses</h4>
<ul>
    <li>Victor Porton, Shay Agnon 32-29, Ashkelon, Israel, 78640 (preferred)</li>
    <li>Victor Porton,
14350 60th St North,
Suite: 46431,
Clearwater FL. 33760.</li>
</ul>
<h4>Email</h4>
<ul><li>porton@narod.ru</li></ul>
<h4>Phone</h4>
<ul><li>+972-545229306, Victor Porton</li></ul>
{% endblock %}
