{% extends "main/base.html" %}
{% load include_verbatim %}

{% block moreheader %}<link rel="canonical" href="{% url 'docs:contract' %}" />{% endblock %}
{% block title %}Our smart contract{% endblock %}
{% block header %}Our smart contract{% endblock %}
{% block shortheader %}Smart contract{% endblock %}
{% block breadcrumbs %}
    <li><a href="{% url 'docs:contract' %}">Smart contract</a></li>
{% endblock %}

{% block content %}
<h2>Introduction</h2>

<p>When you create a project on with site, you automatically receive so called smart contract.
    (Smart contract is a cryptographically singed short computer program which regulates payments you can make
    with it and payments to you.)</p>

<h2>Holding and transferring tokens</h2>
<p>Our contract associates an amount of your own currency (called <q>tokens</q>) with every Ethereum account in the Net.
    The money can be transferred between accounts.</p>
<p>Your (<q>owner</q>) account is special. It shows in Wallet as containing 10<sup>24</sup> amount of your tokens,
    but behaves as an infinite amount of money (when you withdraw money from your account it remains 10<sup>24</sup>
    no matter how much you withdraw). If somebody sends tokens to your account, it also remains 10<sup>24</sup>
    (does not increase).</p>
<p>There is also calculated total amount of your token in the Net. Your 10<sup>24</sup> are <em>not</em>
    counted in the total amount. So when you withdraw tokens from your account, the total amount of your tokens
    in the Net increases (and it decreases if somebody will send tokens to your account).</p>
<h2 id="formula">Selling tokens for Ether</h2>
<p><em>We are not responsible for malicious users or hackers whose contracts may not conform to this formula.</em></p>
<p>Anyone can send Ether (in fact Ether are like real money) to your contract. If he sends Ether, your contract
    automatically sends him back some tokens.</p>
<p>The amount of tokens sent back is calculated by the formula <i>e</i><sup>2</sup>/(<i>T</i>+<i>e</i>) where <i>T</i> is
    the total amount of Ether received to this token before the purchase and <i>e</i> is the amount of Ether sent
    in this transaction. Note that this formula offers huge discounts to big (<q>wholesale</q>) transactions.</p>
<p>You can withdraw Ether from your contract using the project admin area on your contract page at this site.</p>
{% endblock %}
