{% extends "main/base.html" %}

{% block moreheader %}<link rel="canonical" href="{% url 'docs:donors' %}" />{% endblock %}
{% block title %}For donors{% endblock %}
{% block header %}For <span>donors</span>{% endblock %}
{% block shortheader %}For donors{% endblock %}
{% block breadcrumbs %}
    <li><a href="{% url 'docs:donors' %}">Donors</a></li>
{% endblock %}

{% block content %}
    <img src="img/service/3.jpg" class="img-responsive"
         style="float: left; margin-right:10px; margin-bottom:10px; width: 50%">
    <p>
        [<a href="{% url 'project:list' %}">Projects to donate to</a>]
    </p>
    <p>Crypto4NGO is an online platform that enables people to start and <a href="https://crypto4ngo.org/blog/2019/06/collecting-donations-at-kickstarter-why-should-also-use-cryptongo-for-crowdfunding/">fund their own non-profit projects</a> without having to rely on traditional funding institutions. It also allows traders to create their own unique cryptocurrency. Projects that stand to benefit society the most gain increased exposure and are able to raise a considerable amount of capital in a relatively short period of time. Fund <a href="{% url 'project:list' %}">a project</a> or <a href="{% url 'project:view' 1 %}">CryptoNGO itself</a>.</p>
    <p>Donations will also be used for development and advertisement purposes with the end goal of making the Crypto4NGO initiative a self-sustaining model. Prospective donors can browse through the <strong><a href="{% url 'project:list' %}">Projects page</a></strong> to view current non-profits projects and select ones they believe are most deserving of financial help. Donations made in Ether cryptocurrency are rewarded with the donated project’s own unique cryptocurrency, acting as both contributions to charitable causes and <a href="{% url 'docs:traders' %}">investments</a> at the same time.</p>
    <p>There’s no doubt about it—cryptocurrency is the digital currency of the future. Today, the value of roughly 1,610 cryptocurrencies in existence is valued well over $411 billion, as stated by <a target="_blank" href="https://coinmarketcap.com">CoinMarketCap</a>. Each day, more currencies are created as governments and regulatory bodies attempt to grapple with their immense rise and trade.</p>
    <p>BitCoin and Ethereum, in particular, have enabled certain individuals and organizations to make immense profits. As such, many have shown the desire to donate some of their wealth to worthy causes. While there exist numerous charities that already accept donations in virtual currency, a number of worthy non-profit projects go under the radar.</p>
    <p>Founded by Victor Porton, Crypto4NGO is perhaps the first open-source software and website in the world that helps shed light on deserving non-profit initiatives while assisting members achieve <a href="https://crypto4ngo.org/blog/2019/06/financing-nonprofit-projects-with-new-cryptocurrencies-cryptongo/">financial success</a> via the creation of digital currencies. Through the efforts of Mr. Porton, Crypto4NGO has allowed many aspiring individuals to make changes that they wished to be seen in the world make it a better place for all peoples across the earth.</p>
    <p>Donations can be made through BitCoin or Ether. In addition we support donations by other means (such as credit card in USD or EUR, PayPal, etc.) through external fundraising sites.</p>
{% endblock %}
