{% extends "main/base.html" %}

{% block moreheader %}
    <link rel="canonical" href="{% url 'docs:editorial-guidelines' %}"/>{% endblock %}
{% block title %}Editorial guidelines{% endblock %}
{% block header %}<span>Editorial</span> guidelines{% endblock %}
{% block shortheader %}Editorial guidelines{% endblock %}
{% block breadcrumbs %}
    <li><a href="{% url 'docs:editorial-guidelines' %}">Editorial guidelines</a></li>
{% endblock %}

{% block content %}
    <p>The information published at this site must be:</p>
    <ul>
        <li>truthworthy</li>
        <li>not misleading</li>
        <li>free of spam, such as unrelated or too excessive commercial advertising</li>
        <li>free of hate speech</li>
        <li>free of curse words</li>
        <li>free of porn or nudity, sexually explicit materials (unless strictly required
            by a project purpose, such as in the case of a medical sex enhancements advertisement)</li>
        <li>not harmful for the society</li>
        <li>useful for the society</li>
        <li>free of copyright violations</li>
        <li>free of plagiarism (even if otherwise legal)</li>
        <li>free of advertising not medically motivated modification of human bahavior,
            such as not medically motivated taking psychotropic drugs and likewise</li>
        <li>free of cruelty to people or animals except required by some important purpose
            such as medicine or science</li>
        <li>free of advertising abortion</li>
        <li>free of demoting religion or spirituality</li>
        <li>free of advertising sexuality (except of promoting medical means to heal sexual abnormalities),
            free of promoting unusual forms of sexuality to children</li>
    </ul>
    <p>All projects published in the section for noncommercial projects should not be intented
        to make profit (however adequate compensation for the employees is allowed,
        this compensation should be limited by an appropriate fixed sum of money and not
        be a share (<q>percent</q>) fo the entire profit)</p>
    <p>Moreover information you publish elsewhere about the same project should conform
        to these guidelines, too.</p>
    <p>Different projects should not repeat essentially the same information.</p>
    <p>We reserve the right to remove any materials not conforming to these rules,
        as well as any materials whatsoever we decide to remove for any reason.</p>
{% endblock %}
