{% extends "main/base.html" %}

{% block moreheader %}<link rel="canonical" href="{% url 'docs:help' %}" />{% endblock %}
{% block title %}Help{% endblock %}
{% block header %}<span>Help</span>{% endblock %}
{% block shortheader %}Help{% endblock %}
{% block breadcrumbs %}
    <li><a href="{% url 'docs:help' %}">Help</a></li>
{% endblock %}

{% block content %}
<h3 class="western">About creating a project</h3>
<p>You need first need to add MetaMask extension to your browser and create an account (which you will use as the <em>owner account</em> below). You may be not able to control Ethereum by your browser without this extension.</p>
<p>When you create a project, you enter (all or a part of) the following fields:</p>
<ul>
<li><em>Owner account</em> – You need to create it with an Ethereum wallet software. You can use this account to withdraw money to it (or you can enter another account to withdraw to it every time when you withdraw) and to control the smart contract.</li>
<li><em>Currency symbol</em> (recommended to use three capital letters).</li>
<li><em>Currency name</em></li>
<li><em>Other ways to donate (URLs)</em></li>
<li><em>Project title</em></li>
<li><em>Project description</em></li>
<li><em>Allowed use of money</em>
<ul>
<li>How you agree to use the money for your nonprofit project. You are specifically asked whether you allow or disallow yourself (by legal binding) to use that money for advertisements and press releases in particular (because the amount spent in ads may be practically unlimited, but you may want to limit yourself for better trade).</li>
</ul>
</li>
<li><em>Related link</em> (where is your project in Internet)</li>
<li><em>Information about the nonprofit organization</em> (if the project is not just personal)</li>
<li><em>That you agree with our terms</em>.</li>
</ul>
<p>After you succeeded to receive some Ether (you can monitor it when you are logged in), you can withdraw the Ether to your owner account or any other Ethereum account by <em>Project admin area</em> (visible when you are logged in) of the project page. When you withdraw, you must explain how you are going to use the money.</p>
<p>That’s all. It cannot be even simpler. For more site features, just try it.</p>
{% endblock %}
