{% extends "main/base.html" %}

{% block moreheader %}<link rel="canonical" href="{% url 'docs:misc' %}" />{% endblock %}
{% block title %}Misc{% endblock %}
{% block header %}<span>Misc</span>{% endblock %}
{% block shortheader %}Misc{% endblock %}
{% block breadcrumbs %}
    <li><a href="{% url 'docs:misc' %}">Misc</a></li>
{% endblock %}

{% block content %}
<p>The site is made on <a target="_blank" href="https://bitbucket.org/portonv/cryptononprofit">open-source software</a>,
    written in Python/Django and some Solidity.</p>
{% endblock %}
