{% extends "main/base.html" %}

{% block moreheader %}<link rel="canonical" href="{% url 'docs:privacy' %}" />{% endblock %}
{% block title %}Privacy policy{% endblock %}
{% block header %}<span>Privacy</span> policy{% endblock %}
{% block shortheader %}Privacy policy{% endblock %}
{% block breadcrumbs %}
    <li><a href="{% url 'docs:privacy' %}">Privacy policy</a></li>
{% endblock %}

{% block content %}
    <p>All information of the user except of the login name and user ID and
        also except the first name and last name is held private,
        unless the user explicitly opts in to publish this information.
        Moreover the user may choose not to enter his first and/or last name.</p>
    <p>The user password is stored in ciphered form, in order to make even us ourselves
        unable to decipher it.</p>
    <p>Information related to projects and smart contracts (including wallet and contract
        addresses and all Ethereum and other transactions) is published openly.
        It is the user responsibility to agree that it will be published openly.</p>
    <p>It is also for each project pointed out openly which user has created which project.</p>
    <p>The user agrees to openly publish all his spents of Ether received to a project
        contract address.</p>
{% endblock %}
