{% extends "main/base.html" %}

{% block moreheader %}<link rel="canonical" href="{% url 'docs:raisers' %}" />{% endblock %}
{% block title %}For money raisers{% endblock %}
{% block header %}Create your own <span>project today!</span>{% endblock %}
{% block shortheader %}Money raisers{% endblock %}
{% block breadcrumbs %}
    <li><a href="{% url 'docs:raisers' %}">Non-Profits</a></li>
{% endblock %}

{% block content %}
    <img src="img/service/5.jpg" class="img-responsive"
         style="float: left; margin-right:10px; margin-bottom:10px; width: 50%">
    <p>[<a href="{% url 'project:create' %}">Create your own project today!</a>]</p>
    <p>Crypto4NGO gathers donations in Ether and BitCoin currencies as well as by other means using links to external fundraisers both for your nonprofit projects (both for organizations and for individuals worldwide) and for itself which it then uses for two main purposes. The first is to enable the website to become a self-sustaining model and the second is to facilitate the exchange of new cryptocurrencies for the benefit of non-profit projects listed on its web page.</p>
    <p>Using this site you can create your own cryptocurrency associated with your nonprofit project, which could increase in price in a virtuous circle of increasing value of your nonprofit organization. You also can <strong>advertise (for free) on this site your fundraiser</strong> from another crowdfunding site. Sometimes it is a way to double your donations.</p>
    <p>If you’re thinking of starting a non-profit project but lack the funds to get it off the ground, then posting it on our website is the best way to go forward. Get in touch with us today to learn more.</p>
    <p>Non-profit initiatives throughout the globe manage to attract a considerable amount of finances. According to the U.S <a target="_blank" href="https://nccs.urban.org/publication/nonprofit-sector-brief-2018">National Center for Charitable Statistics</a>, the non-profit sector contributed around $985 billion to the economy in 2015. That’s around 5.4% of the country’s entire GDP.</p>
    <p>Fact of the matter is, cryptocurrencies have moved beyond just existing as mediums of exchange to become financial investment instruments. This idea has given rise to a concept where you can associate any given cryptocurrencies with NGOs to raise potentially millions of dollars to fund the activities of the organization. When associated with a meaningful cause accepting donations in cryptocurrencies, these cryptocurrencies experience a rise in demand which <a href="https://crypto4ngo.org/blog/2019/06/financing-nonprofit-projects-with-new-cryptocurrencies-cryptongo/">increases the value of the currency</a> itself. In this manner both NGO owners and investors win out since any crypto-investments will be much more highly valued and so will the entire financial resource structure of the NGO.</p>
    <p>The majority of non-profit causes are aimed at improving life both nationally and abroad. There are a number of exceptional non-profit organizations that as of yet, have considerably improved the standard of living for countless individuals. However, there are still other’s that fail to garner sufficient attention required to raise capital and as a consequence, die out over time.</p>
    <p><em>Some users will want to make good, therefore they will use such currencies, what will lead to increasing exchange rates for such currencies, what will lead more users what in turn will increase the exchange rate. This is a virtuous circle of increasing the exchange rate. This may make the cryptocurrencies associated with projects even more profitable than regular cryptocurrencies.</em></p>
    <p>Crypto4NGO is a website as well as open-source software that seeks to make creating and financing non-profit projects easier than ever before. By doing so, it also enables both traders/donors and fundraisers to create their own unique currency and sell it to raise money. This <a href="https://crypto4ngo.org/blog/2019/06/collecting-donations-at-kickstarter-why-should-also-use-cryptongo-for-crowdfunding/">revolutionary approach</a> breaks down the <a href="https://crypto4ngo.org/blog/2019/07/modern-money-is-evil-we-need-new-money/">barriers associated with traditional lending</a> and makes it possible to reach a larger audience—all of which can be done for free.</p>
    <p>In addition to this, you can advertise your own projects through the system where we will handle all marketing efforts.</p>
    <p>Expenses of all the projects listed on the website and the website itself are posted openly to ensure that we can maintain the fullest transparency on all transactions made through us. Donations can be made through Bitcoin or Ether through your crypto-wallets or the donor could make donations through any external fundraising site (for example, with a credit card or PayPal in EUR or USD). Best of all, there is no need to register to donate.</p>
    <p>Crypto4NGO is an open-source software and website where non-profits can create a unique currency to gather necessary funds. Designed to <a href="https://crypto4ngo.org/blog/2019/07/modern-money-is-evil-we-need-new-money/">assist people</a> to affect the change that they wish to see in the world and generate high valuations to increase the efficacy of their efforts, we work day and night to help you achieve your goals.</p>
    <p>Get in touch with us today for more information on our services and how we can help increase the value of your NGOs or your cryptocurrency portfolios. Here’s how the entire system works:</p>
    <p>First you create a new currency (using Ethereum <a target="_blank" href="https://en.wikipedia.org/wiki/Cryptocurrency">cryptocurrency</a>, like a BitCoin but different).</p>
    <p>In this new currency your account is special: It holds infinite amount of money. You promise that you will use that money only for a specific nonprofit project which you describe at this site.</p>
    <p>Next cryptocurrency entrepreneurs may notice your project and begin to do business with your new currency. They may purchase your new currency and you get the compensation in Ether (one of the major cryptocurrencies) and/or they may trade your currency at an exchange.</p>
    <p>If your project is good enough, this may lead to creation virtual money exchanges in Internet, which support your currency. Then you can get any amount (limited by your promised limits) of your currency and change it to for example dollars or Euro.</p>
    <p>You use this money to finance your nonprofit project.</p>
    <p>All this is completely free for you.</p>
    <p>They <a target="_blank" href="http://simondlr.com/post/70089813484/in-the-future-everyone-will-have-their-own">say
        that soon everybody will have his own currency</a>. Not sure about everybody, but every nonprofit project should
        have its own currency.</p>
{% endblock %}
