{% extends "main/base.html" %}

{% block moreheader %}<link rel="canonical" href="{% url 'docs:rules' %}" />{% endblock %}
{% block title %}Rules{% endblock %}
{% block header %}<span>Rules</span>{% endblock %}
{% block shortheader %}Rules{% endblock %}
{% block breadcrumbs %}
    <li><a href="{% url 'docs:rules' %}">Rules</a></li>
{% endblock %}

{% block content %}
<h3>NGO description</h3>
<p>CryptoNGO is a project by Victor Porton's Foundation which supports financing (nonprofit) projects by means
of cryptocurrency, especially by creating a new cryptocurrency for a particular project. We provide a Web site where
anyone can register his projects, in order to receive cryptocurrency for his projects for free.</p>

<p>We attempt to hold a balance between interests of benefactors and investors.</p>

<p>We want to support legal persecution of violators of promises given on our site.</p>

<p>See legal information about Victor Porton's Foundation <a href="{% url 'docs:charter' %}">here</a>.</p>

<p>Money usage: Benefits of CryptoNGO may be used for supporting hosting and backend infrastructure and for advertising
    this site (because adequate amounts of advertising may benefit both benefactors and investors).</p>

<h3>Rules</h3>

{% include 'docs/short_rules.html' %}

<p>We allow financing through our site any kinds of nonprofit projects. It is strongly recommended that all projects
    published at our site are nonprofit. We reserve the right to delete commercial projects.</p>
<p>Projects deemed not to support public good or spam our site may be deleted.</p>
<p>We may want to use all legal means to persecute liars which may push false promises to our site.</p>

<h3>Anti-corporativism</h3>
<p>The founder of this site holds anti-corporativism position. By corporativism we mean that in this
    world most benefits are distributed to corporations rather that to anyone including individual people. This of some
    kind unjust. Therefore CryptoNGO allows all kinds of projects, both personal and institutional. If a project is
    associated with an officially registered nonprofit organization, it is recommended to list the country of
    registration, organization name, and its registration number. Notwithstanding with the above, we may want to use
    all legal means to persecute liars which may push false promises to our site. It is strongly recommended that all
    projects published at our site are nonprofit however (because who would want to support others’
    for-profit projects?)</p>
{% endblock %}