<p>By submitting the project you enter into legal agreement with us and the world that you will not use
    the money (including any cryptocurrencies) received through your smart contract listed (or which was listed)
    on this site for any other purposes than what you specify above.</p>
<p>Notwithstanding the above, you are allowed (unless forbidden by your nonprofit organization rules)
    to send surpluses of Ether to any charity of your choice.
<p>We are not responsible for any money loss due software and other errors, hacker attacks,
    or cheaters which may operate on this site.</p>
<p>You agree that the project cannot be deleted from this site (only disabled).</p>
