{% extends "main/base.html" %}
{% load static %}

{% block moreheader %}<link rel="canonical" href="{% url 'docs:team' %}" />{% endblock %}
{% block title %}Team{% endblock %}
{% block header %}<span>Team</span>{% endblock %}
{% block shortheader %}Team{% endblock %}
{% block breadcrumbs %}
    <li><a href="{% url 'docs:team' %}">Misc</a></li>
{% endblock %}

{% block css %}
    .social { background: blue; color: white; padding: 5px }
    .social:link, .social:visited { text-decoration: none; }
{% endblock %}

{% block content %}
    <h3>Victor Porton</h3>
    <img src="{% static 'images/victor.jpeg' %}" style="float:left; width:30%; margin: 10px"/>
    <p>Victor Porton, living in Ashkelon, Israel, is the founder and the programmer of CryptoNGO project.
        He also manages all organizational aspects of the project.</p>
    <p>Victor Porton learned mathematics in Perm State University and then
        worked as a programmer for more than 13 years. Here is
        <a target="_blank" href="https://victorporton.com">his professional site</a>.</p>
    <p>Victor is a prominent mathematician with such discoveries as algebraic general topology generalization of
        general topology,
        generalization of limit for arbitrary discontinuous functions, etc.
        Victor Porton is also an open source developer who created among other software for
        automatic transformation between XML namespaces.</p>
    <p>Since childhood which he spent in poverty Victor dreamed of having infinite amount of money
        for nonprofit projects. Now we have it.</p>
    <p>
        <a href="https://www.facebook.com/victor.porton" class="social">Facebook</a>
        <a href="https://twitter.com/victorporton" class="social">Twitter</a>
        <a href="https://www.linkedin.com/in/victor-porton-33499344/" class="social">LinkedIn</a>
    </p>
{% endblock %}
