{% extends "main/base.html" %}

{% block moreheader %}<link rel="canonical" href="{% url 'docs:traders' %}" />{% endblock %}
{% block title %}For Crypto investors{% endblock %}
{% block header %}For Crypto <span>investors</span>{% endblock %}
{% block shortheader %}For Crypto investors{% endblock %}
{% block breadcrumbs %}
    <li><a href="{% url 'docs:traders' %}">Crypto investors</a></li>
{% endblock %}

{% comment %}
{% block adkeywords %}invest,investment,investments,investing,investor,altcoin,altcoins,get rich{% endblock %}
{% endcomment %}

{% block content %}
<img src="img/service/2.jpg" class="img-responsive"
     style="float: left; margin-right:10px; margin-bottom:10px; width: 50%">
<p>
    [<a href="{% url 'project:list' %}?investment=1">Projects to invest to</a>]
</p>
    <p>Crypto4NGO’s model is unique and one of a kind. It holds the potential to uplift countless <a href="{% url 'project:list' %}?investment=1">non-profit projects</a> (including <a href="{% url 'project:view' 1 %}">CryptoNGO itself</a>) that end up creating a positive change in society. It also facilitates automatic exchange of Ether to our cryptocurrency tokens and is an excellent opportunity for crypto-investors to multiple their capital many times over. You don’t even need to register to invest; you can invest directly through your Ethereum wallet or make <a href="{% url 'docs:donors' %}">donations</a> in BitCoin or Ether or through external fundraisers (for example, through credit cards or PayPal in USD or EUR).</p>
<p>As with any lucrative market, there’s a lot of “noise”, i.e. naysayers who claim that the crypto bubble has already popped. While it’s true that BitCoin is currently at its lowest since 2011, there’s one business principle that many inexperienced commentators fail to grasp: every bear market phase is followed by a bull market which is to say, after every fall there is a rise.</p>
    <p>For the crypto market, this phrase holds particularly true. According to <a target="_blank" href="https://www.ccn.com/72-of-cryptocurrency-investors-plan-to-buy-more-this-year-survey/">CCN Markets</a>, crypto-investors are set to buy more despite the apparent “worsening” trends. That’s not to say that there isn’t room for volatility or bad strategies—it simply requires crypto-investors to start looking for new avenues of investment. By treading a path less explored, investors stand to benefit from riding the early—and particularly high—wave.</p>
<p>Anyone who’s trying to increase a given crypto-investment’s value would do well to make donations in exchange for cryptocurrencies of their choice.</p>
    <p>These increases in valuation follow a set procedure that we’ve written a <a href="https://crypto4ngo.org/blog/2019/06/financing-nonprofit-projects-with-new-cryptocurrencies-cryptongo/">rather comprehensive blog</a> on. Capitalizing on this idea, Crypto4NGO is the ultimate platform to help you raise the valuations of your investment portfolios and help NGOs.</p>
<p>The following are some compelling reasons for traders to also become a part of a Crypto4NGO project:</p>
<ol>
    <li>You will make a help to the mankind using these currencies.</li>
    <li><em>Some users will want to make good, therefore they will use such currencies, what will lead to increasing exchange rates for such currencies, what will lead more users what in turn will increase the exchange rate. This is a virtuous circle of increasing the exchange rate. This may make the cryptocurrencies associated with projects even more profitable that regular cryptocurrencies.</em></li>
</ol>
<p>You could get our tokens either in an exchange or immediately and automatically by sending any amount of Ether to a contract address of a nonprofit project on this site.</p>
<p>The amount of tokens sent back after your Ether transfer is accordingly <a href="{% url 'docs:contract' %}#formula">the formula described here</a>.</p>
<p>Note that as the market grows the price of the token grows; it may probably become more profitable to buy our tokens at an exchange than by sending Ether to the contract address. The formula for the price may limit only the upper bound of the price, as exchanges may probably sell our tokens cheaper.</p>
{% endblock %}
