<input type="hidden" name="{{ widget.name }}"{% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}>
<script>$(function(){$('#quadratic_popup').popup();});</script>
<div id="id_show_rules_div">
    <div id="show_rules_-1" name="show_rules" style="display: none">Wallet</div>
    <div id="show_rules_0" name="show_rules" style="display: none">Unknown type of contract</div>
    <div id="show_rules_1" name="show_rules" style="display: none">Quadratic contract
        (<a href="#" class="popup-link" onclick="$('#quadratic_popup').dialog({modal: true}); return false">formula</a>)</div>
</div>