<input type="hidden" name="{{ widget.name }}"{% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}><span id="id_ethereum_address_text">{{ widget.value }}</span>
<input type="button" value="Change..." disabled="disabled" id="id_ethereum_address_fetch" onclick="change_ethreum_address()">
<section id="quadratic_popup" class="popup">
    {% include 'project/contracts/quadratic.html' %}
</section>
