{% extends "main/base.html" %}

{% block title %}Project "{{version.title}}" Ether withdrawals{% endblock %}
{% block header %}Project "{{version.title}}" Ether withdrawals{% endblock %}
{% block shortheader %}Ether withdrawals{% endblock %}
{% block breadcrumbs %}
    <li><a href="{% url 'project:withdraw' project_pk %}">Ether withdrawals</a></li>
{% endblock %}

{% block css %}
table { width: 100% }
th { text-align: center }
th, td { border: 1px solid gray }
{% endblock %}

{% block content %}

<p><a href="{% url 'project:view' project_pk %}">To project page</a></p>

{% if history %}
<table>
    <col style="width:12em" />
    <col style="width:14em" />
    <col />
    <thead><th>Date/time</th><th>Amount</th><th>Usage</th></thead>
    <tbody>
    {% for e in history %}
        <tr>
            <td style="text-align: center">{{ e.time }}</td>
            <td style="text-align: center">{{ e.amount }} ETH</td>
            <td>{{ e.clean }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No withdrawals for this project</p>
{% endif %}

<p><a href="{% url 'project:view' project_pk %}">To project page</a></p>

{% endblock %}