{% extends "main/base.html" %}
{% load static %}

{% block title %}
{% if mode == 'create' %}Create{% else %}Edit{% endif %} project
{% endblock %}
{% block header %}
{% if mode == 'create' %}Create{% else %}Edit{% endif %} project
{% endblock %}
{% block shortheader %}
{% if mode == 'create' %}Create{% else %}Edit{% endif %} project
{% endblock %}
{# TODO #}
{#{% block breadcrumbs %}#}
{#    <li><a href="{% url '' %}"></a></li>#}
{#{% endblock %}#}

{% block scripts %}
    <link rel="stylesheet" href="/static/ui-loader/loader.min.css" />
    {{ form.media }}
    <script src="{% static 'web3/web3.min.js' %}"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
    {{ symbol_form.media }}
    <style>
        .hidden { display: none }
        .note-toolbar.panel-heading { z-index: auto !important; }
    </style>
    <script>
        function init_wallet() {
            window.web3.eth.getAccounts(function (err, accounts) {
                var html = $.map(accounts, function(id) {
                    return "<option>" + id + "</option>";
                });
                $('#id_owner').html(html.join());
            });
        }

        $(function() {
          $('#id_description, #id_money_usage').summernote({
              toolbar: [
                  // [groupName, [list of button]]
                  ['style', ['bold', 'italic', 'underline', 'clear']],
                  ['font', ['strikethrough', 'superscript', 'subscript']],
                  ['fontsize', ['fontsize']],
                  ['color', ['color']],
                  ['para', ['style', 'paragraph', 'ol', 'ul']],
                  ['insert', ['link', 'picture', 'video', 'table', 'hr']],
                  ['view', ['fullscreen', 'undo', 'redo', 'help']],
              ]
          });
        });

        $(function() {
            $('#id_allow_advertisement').click(on_change_advertisement);
            $('[name=ownership]').click(on_change_ownership);
            on_change_advertisement();
            on_change_ownership();
            // Disallow conditions downgrade
        {% if mode != 'create' %}
            if(!$('#id_allow_advertisement').is(":checked"))
                $('#id_allow_advertisement').prop('disabled', true);
            if(!$('#id_allow_press_releases').is(":checked"))
                $('#id_allow_press_releases').prop('disabled', true);
        {% endif %}
        {% if symbol_form.stage.value == '1' %}
            xsubmit();
        {% endif %}
        });

        function xsubmit() {
            $('[type=submit]').prop('disabled', true);
            $('#dimmer').css('display', 'block');
            // Call deploy() after both abi and bytecode load
            if(abi && bytecode) { // already loaded
                deploy();
                return;
            }
            $.get('/static/generated/abi.json', function(_abi) {
                abi = _abi;
                deploy();
            }, 'json');
            $.get('/static/generated/bytecode.dat', function(_bytecode) {
                bytecode = _bytecode;
                deploy();
            }, 'text');
        }

        function xconfirm() {
            if(!$('#id_confirm').is(':checked')) return true; // allow the browser handle this missing checkbox
            return confirm('Sure to {% if mode == 'create' %}create{% else %}update{% endif %} project with this data?');
        }
    </script>
{% endblock %}

{% block content %}

<div id="dimmer" class="ui segment" style="position:fixed; left:0px; top:0px; width:100%; height:100%; z-index:100; display:none">
  <div class="ui dimmer" style="position:fixed; width:100%; height:100%; background:gray">
    <div class="ui massive text loader">Creating smart contract</div>
  </div>
  <p></p>
</div>

{% if disabled %}
<p><strong style="color:red">This project is disabled.</strong>
    To re-enable it <a href="{% url 'project:view' project_pk %}">see here</a>.</p>
{% endif %}

{% include 'main/errors.html' %}
<form action="" method="post" enctype='multipart/form-data' onkeypress="return event.keyCode != 13;"
      id="main_form"
      onsubmit="accomplish_deploy()">
    {% csrf_token %}
    <table>
    {{ symbol_form.as_table }}
    {{ form.as_table }}
    {{ confirm.as_table }}
    </table>
    <br />
    {% include 'docs/short_rules.html' %}
    <p>See more <a href="{% url 'docs:rules' %}">here</a>.</p>
    <p>
    {% if mode == 'create' %}
    <input type="submit" value="Create project" onclick="return xconfirm()" />
    {% else %}
    <input type="submit" value="Change project" onclick="return xconfirm()" />
    {% endif %}
    </p>
</form>

<section id="quadratic_popup" class="popup" style="display: none">
    {% include 'project/contracts/quadratic.html' %}
</section>

<div id="id_ask_rules" title="Specify contract type" style="display: none">
    <p><label><input type="radio" id="id_rules_choice_0" name="rules_choice" value="0" checked="checked" /> Unknown</label></p>
    <p><label><input type="radio" id="id_rules_choice_1" name="rules_choice" value="1" /> Quadratic</label>
        (<a href="#" class="popup-link" style="color: blue"
            onclick="$('#quadratic_popup').dialog({modal: true, position: {of: '#id_ask_rules', at: 'left top', my: 'left+50 top+50'}}); return false">formula</a>)</p>
    <p><strong class="red">Choosing an option is legally binding!</strong>
        If you are not completely sure that your contract already belongs to a certain type, choose "unknown".</p>
</div>
{% endblock %}

{% block scripts2 %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/vast-engineering/jquery-popup-overlay@2/jquery.popupoverlay.min.js"></script>
    <script src="{% static 'myweb3.js' %}"></script>
    <script src="{% static 'edit_project.js' %}"></script>
{% endblock %}