{{description}}

<h2>Donate</h2>

<ul>
    {% for pair in version.payment_urls.all %}
    <li><strong><a target="_blank" href="{{ pair.url }}">{{ pair.title }}</a></strong></li>
    {% endfor %}
{% if wallet %}
    <li><strong>Ether</strong>&nbsp;<a href="ethereum:{{wallet.address}}">{{wallet.address}}</a>
        {% if erc20 %}(smart contract {{erc20.contract_symbol}} {{erc20.contract_name}}){% endif %}
    </li>
{% endif %}
    {% if version.bitcoin_address %}
    <li><strong>BitCoin</strong>&nbsp;<a href="bitcoin:{{version.bitcoin_address}}">{{version.bitcoin_address}}</a></li>
    {% endif %}
</ul>

<dl>
    <dt>User</dt>
    <dd><p><a href="{{ settings.SITE_URL }}{% url 'user:profile' project.user.pk %}">{{project.user.username}}</a></p></dd>
    <dt>Allowed uses of money</dt>
    <dd>{{allowed_use}}</dd>
    <dt>Allowed using money for advertisment</dt>
    <dd><p>{{version.allow_advertisement}}</p></dd>
    <dt>Allowed using money for press releases</dt>
    <dd><p>{{version.allow_press_releases}}</p></dd>
    <dt>URL</dt>
    <dd><p><a href="{{version.url}}">{{version.url}}</a></p></dd>
    <dt>Ownership</dt>
    <dd><p>{{ownership}}</p></dd>
    <dt>Country</dt>
    <dd><p>{{version.country.name}}</p></dd>
    <dt>Organization name</dt>
    <dd><p>{{version.organization_name}}</p></dd>
    <dt>Organization number</dt>
    <dd><p>{{version.organization_number}}</p></dd>
</dl>
