{% extends "main/base.html" %}

{% block moreheader %}
    <meta name="robots" content="noindex"/>
    <link rel="canonical" href="{% url 'project:list' %}?page=
            {{ page }}{% if request.GET.investment == '1' %}&investment=1{% endif %}"/>
{% endblock %}
{% block title %}Projects list{% endblock %}
{% block header %}Projects list{% endblock %}
{% block shortheader %}Projects list{% endblock %}
{% block breadcrumbs %}
    <li><a href="{% url 'project:list' %}?page=
            {{ page }}{% if request.GET.investment == '1' %}&investment=1{% endif %}">Projects</a></li>
{% endblock %}

{% block scripts %}
    <style>
        ul {
            margin: 0px;
            padding: 0px;
        }

        li {
            list-style: none
        }

        ul.list-item li {
            transition: .3s;
            margin: 40px 0px;
        }

        ul.list-item li:hover {
            box-shadow: 0px 0px 10px whitesmoke;
        }

        ul.list-item li h2 a {
            font-size: 30px;
            text-decoration: none;
            font-weight: bold;
        }

        ul.list-item li p {
            font-size: 16px;
            margin: 10px;
            text-align: justify;
        }

        ul.list-item li p a.read-more {
            padding: 7px 10px;
            text-decoration: none;
            background-color: #FF9F1A;
            color: white;
            margin-top: 5px;
            display: inline-block;
        }

        ul.list-item li img {
            display: block;
            margin: 10px auto;
            width: 100%;
        }
    </style>
{% endblock %}

{% block content %}

    {% if request.GET.investment == '1' %}
        <p>Showing only projects with investments.
            <nav><a href="{% url 'project:list' %}">Return</a></nav>
        </p>
    {% else %}
        <p>
            <nav><a href="{% url 'project:list' %}?investment=1">Show only projects that I can invest into</a></nav>
        </p>
    {% endif %}

    {% include 'main/paginator_template.html' %}

    <ul class="list-item">
        {% for v in versions %}
            <li>
                <div class="row">
                    <div class="col-sm-5">
                        {% if v.project_image %}
                            <a href="{% url 'project:view' v.project.pk %}">
                                <img src="{{ v.project_image.image.url }}" alt="{{ v.title }}"
                                     style="width: 100%; max-height: 230px; object-fit: cover">
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-sm-7">
                        <h2><a href="{% url 'project:view' v.project.pk %}">{{ v.title }}</a></h2>
                        <p>{{ v.short_description }}<br>
                            <a href="{% url 'project:view' v.project.pk %}" class="read-more">Read More</a></p>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>

    {% include 'main/paginator_template.html' %}

{% endblock %}
