<div {% include "django/forms/widgets/attrs.html" %}>
    <p>
        <i class="fa fa-sort handle"></i>
        URL: <input type="url" name="{{ widget.name }}_url" value="{{ widget.payment_url }}" style="width: auto">
        Site title: <input type="title" name="{{ widget.name }}_title" value="{{ widget.title }}">
        <input type="button" value="Delete" onclick="if(window.confirm('Delete URL?')) $(this).parent().remove()">
    </p>
</div>