<div class="urls_editor" {% include "django/forms/widgets/attrs.html" %}>
    <ul style="margin: 0">
        <li style="display: none" id="id_{{ widget.name }}_dummy">{{ empty_value }}</li>
    </ul>
    <script>
    {% for pair in widget.value %}
    payment_urls_add('{{ widget.name }}', '{{ pair.url|escapejs }}', '{{ pair.title|escapejs }}');
    {% endfor %}
    </script>
    <div><input type="button" value="Add" onclick="payment_urls_add('{{ widget.name }}', '', '')"></div>
</div>