{% extends "main/base.html" %}

{% block title %}Advertise your project{% endblock %}
{% block header %}Advertise your project{% endblock %}
{% block shortheader %}Advertise{% endblock %}
{% block breadcrumbs %}
    <li><a href="{% url 'project:list' %}?page={{ page }}{% if request.GET.investment == '1' %}&investment=1{% endif %}">Advertise</a></li>
{% endblock %}

{% block content %}

    <p>You've created <a href="{% url 'project:view' project_pk %}">your project</a>. Now to earn money you need to advertise it.</p>

    <p>Special service to advertise a crowdfunding project:</p>

    <p><a href="https://app.krowdster.co/ref/SyO1oNNREEo0" target="_blank"><img src="https://app.krowdster.co/img/banners/supporters/300x250-supporters.gif" /></a></p>

    <p>Use full suite of products for every need. Link Building, Guest Post services, Content Creation, RankTracker, CitationCleanup, OnPage Optimization, LockMyBrand, Ecommerce Product descriptions, Syndication services and other managed SEO services:</p>

    {# They don't provide backlinks. #}
    {# <p><a href="//www.semrush.com/sem/?ref=3838230371&refer_source=&utm_source=berush&utm_medium=promo&utm_campaign=banner" title="SEMrush" target="_blank"><img src="https://t.myvisualiq.net/impression_pixel?r=000&et=i&ago=212&ao=882&aca=affiliate_link&si=affiliate_site&ci=banner&pi=&ad=-4&advt=3838230371&chnl=-4&vndr=1316&sz=9323&u=336x280-grey-en&pt=i"><img src="https://tapestry.tapad.com/tapestry/1?ta_partner_id=950&ta_redirect=https%3A%2F%2Ft.myvisualiq.net%2Fsync%3Fprid%3D1001%26ao%3D0%26pruuid%3DTAPAD_%24%7BIDS%3Akey%7D"><img src="//www.berush.com/static/berush/banners/grey/336x280/336x280_en.png" alt="SEMrush" /></a></p> #}

    <p><a href="https://www.thehoth.com/link-building-service/?aff=3P35" target="_blank" rel="noreferrer"><img border="0" src="https://www.thehoth.com/downloads/ads2018/affiliate-portal-linkbuilding-1.png" alt=""></a></p>

{% endblock %}
