{% extends "main/base.html" %}
{% load static %}

{% block moreheader %}
    {% if not there_is_newer %}
        <link rel="canonical" href="{% url 'project:view' project.pk %}"/>{% endif %}
{% endblock %}
{% block title %}Project "{{ version.title }}" details{% endblock %}
{% block header %}Project <span>{{ version.title }}</span>{% endblock %}
{% block shortheader %}Nonprofit Project{% endblock %}
{% block breadcrumbs %}
    <li><a href="{% url 'project:list' %}">Projects</a></li>
    <li><a href="{% url 'project:view' 1 %}">{{ version.title }}</a></li>
{% endblock %}

{% block scripts %}
    <script>
        var contract, contractInstance, abi;

        function render() {
            {% if erc20 %}
                contractInstance.etherReceived.call(function (error, result) {
                    $('#c_etherReceived').text(window.web3.fromWei(result));
                });
                contractInstance.totalSupply.call(function (error, result) {
                    $('#c_totalSupply').text(window.web3.fromWei(result));
                });
                window.web3.eth.getBalance('{{erc20.address}}', function (error, result) {
                    $('#c_etherNow').text(window.web3.fromWei(result));
                });
            {% endif %}
        }

        {% if erc20 %}
            $(function () {
                myweb3_init(function () {
                    $.get('/static/generated/abi.json', function (_abi) {
                        abi = _abi;
                        contract = window.web3.eth.contract(abi);
                        contractInstance = contract.at('{{erc20.address}}');
                        render();
                    }, 'json');
                });
            });
        {% endif %}

        function launch_confirm_owner_change() {
            {% if erc20 %}
                if ($('#ownerAddress').val().toLowerCase() == '{{erc20.address}}'.toLowerCase()) {
                    alert("You attempted to set contract owner to contract address itself. We have prevented this stupid error.");
                    return false;
                }
                $('#confirmOwnerAddress').text($('#ownerAddress').val());
                $('#changeOwnerConfirm').modal();
                return true;
            {% endif %}
        }

        // A very dangerous operation
        function change_owner() {
            {% if erc20 %}
                var address = $('#ownerAddress').val();
                contractInstance.setOwner.sendTransaction(address, {from: '{{erc20.owner}}'}, function (error, result) {
                    var csrftoken = getCookie('csrftoken');
                    $.post('{% url 'project:change-owner' erc20.pk %}', {
                        owner: address,
                        csrfmiddlewaretoken: csrftoken
                    }, function () {
                        $('#ownerSpan').text(address);
                    });
                });
            {% endif %}
        }
    </script>
{% endblock %}

{% block css %}
    .admin {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove gray;
    }
{% endblock %}

{% block content %}
    {% if project.user == user %}
        <div id="admin_container">
            <div class="admin">
                                                    <span style="float: right; cursor: pointer; font-size: larger"
                                                          onclick="$('#admin_container').remove()">&times;</span>
                <h3>Project admin area</h3>
                {% if erc20 %}
                    <p>Owner account: <span id="ownerSpan">{{ erc20.owner }}</span>
                        <a
                                href="{% url 'project:withdraw' project.pk %}">Withdraw
                            Ether</a></p>
                {% endif %}
                <p><a href="{% url 'project:edit' project.pk %}">Edit</a> |
                    <a href="{% url 'project:seo' project.pk %}">Advertise
                        project</a></p>
                <form method="post" action="{% url 'project:activity' project.pk %}"
                      onsubmit="return confirm('Sure to change activity status?');">
                    {% csrf_token %}
                    <p>Project activity:
                        <label for="disabled_False">
                            <input type="radio" name="disabled" value="0"
                                   id="disabled_False" name="disabled"
                                   {% if not project.disabled %}checked="checked"{% endif %}/>
                            Active
                        </label>
                        <label for="disabled_True">
                            <input type="radio" name="disabled" value="1"
                                   id="disabled_True" name="disabled"
                                   {% if project.disabled %}checked="checked"{% endif %}/>
                            Disabled
                        </label>
                        <input type="submit" value="Change activity"/>
                    </p>
                    <p>Disabled projects don't show up in the list of projects, they
                        are meant for projects which are no
                        more active.</p>
                    {% if erc20 %}
                        <p><input type="button" class="btn btn-danger btn-xs"
                                  value="Change owner account"
                                  data-toggle="modal"
                                  data-target="#changeOwnerStart"/> (don't click if
                            unsure!)</p>
                    {% endif %}
                </form>
            </div>
            <br/>
        </div>
    {% endif %}

    {% if project.disabled %}
        <p><strong style="color:red">WARNING: This project is disabled.</strong></p>
    {% endif %}

    {% if there_is_newer %}
        <p>WARNING: It is and old version of the project.
            <a href="{% url 'project:view' project.pk %}">See here</a> for the last
            version.</p>
    {% endif %}

    <h4>DONATE</h4>
    {% if rules and non_us %}
        <section id="rules_popup" class="popup">
            <p>{% include rules %}</p>
            <p><em>We are not responsible for hacker-created contracts, which may
                not send said amount of tokens.</em></p>
        </section>
    {% endif %}
    <ul class="list">
        {% for pair in version.payment_urls.all %}
            <li>through <strong><a target="_blank" style="color: #F00"
                                   href="{{ pair.url }}">{{ pair.title }}</a></strong>
            </li>
        {% endfor %}
        {% if wallet %}
            <li><strong>Ether</strong>&nbsp;<a
`                    href="ethereum:{% if non_us %}{{ wallet.address }}{% else %}{{ erc20.owner }}{% endif %}">{% if non_us %}{{ wallet.address }}{% else %}{{ erc20.owner }} (owner address){% endif %}</a>
                {% if rules %}
                    {% if non_us %}
                        (<strong style="color: red">trade this cryptocurrency:</strong>
                        send Ether here to receive the tokens,
                        <a href="#" class="rules_popup_open popup-link">formula</a>)
                        <script>$(function () {
                            $('#rules_popup').popup();
                        });</script>
                    {% endif %}
                    <span style="color: red">Trading may be legal only for non-US customers! US customers can nevertheless donate Ether,
                        but only to the owner address!</span>
                {% endif %}
            </li>
        {% endif %}
        {% if version.bitcoin_address %}
            <li><strong>BitCoin</strong>&nbsp;<a
                    href="bitcoin:{{ version.bitcoin_address }}">{{ version.bitcoin_address }}</a>
            </li>
        {% endif %}
    </ul>
    {% if version.project.pk != 1 %}
        <p><a href="{% url 'project:view' 1 %}" style="text-decoration: none">Consider donating
            also to this site to support all projects on it.</a></p>
    {% endif %}
    {% if version.project_image %}
        <div class="service-thumb pull-left"><img src="{{ version.project_image.image.url }}"
                                                  class="img-responsive"
                                                  style="margin-bottom:5px;"></div>
    {% endif %}
    {{ description }}
    <p style="clear: both; margin-top: 4ex"><a href="{% url 'report:history' project.pk %}">Project Ether
        withdrawal
        history.</a></p>

    <dl>
        <dt>User</dt>
        <dd><p><a
                href="{% url 'user:profile' project.user.pk %}">{{ project.user.username }}</a>
        </p></dd>
        <dt>Project created</dt>
        <dd><p>{{ project.created }}</p></dd>
        <dt>Project last updated</dt>
        <dd><p>{{ project.updated }}</p></dd>
        {% if erc20 %}
            <dt>Total Ether received</dt>
            <dd><p><span id="c_etherReceived">loading...</span> ETH</p></dd>
            <dt>Ether now on contract</dt>
            <dd><p><span id="c_etherNow">loading...</span> ETH</p></dd>
            <dt>Total used supply of tokens</dt>
            <dd><p><span id="c_totalSupply">loading...</span> tokens</p></dd>
        {% endif %}
        <dt>Ethereum receive address</dt>
        <dd><p>
            {% if wallet %}
                {% if erc20 and rules %}
                    <a href="ethereum:{{ wallet.address }}">{{ wallet.address }}</a>
                    (send Ether here to receive the tokens,
                    <a href="#" class="rules_popup_open popup-link">formula</a>)
                {% endif %}
            {% endif %}
        </p></dd>
        {% if erc20 and rules %}
            <dt>Ethereum owner account</dt>
            <dd><p>
                <a href="ethereum:{{ erc20.owner }}">{{ erc20.owner }}</a> (you can
                send Ether here if you don't want to receive the tokens)
            </p></dd>
        {% endif %}
        <dt>BitCoin donate address</dt>
        <dd><p>{% if version.bitcoin_address %}
            <a href="bitcoin:{{ version.bitcoin_address }}">{{ version.bitcoin_address }}</a>{% endif %}
        </p></dd>
        <dt>More donate URLs</dt>
        <dd>
            <ul>
                {% for pair in version.payment_urls.all %}
                    <li><a target="_blank"
                           href="{{ pair.url }}">{{ pair.title }}</a></li>
                {% endfor %}
            </ul>
        </dd>
        <dt>Token name</dt>
        <dd><p>{% if erc20 %}{{ erc20.contract_name }}{% endif %}</p></dd>
        <dt>Token symbol</dt>
        <dd><p>{% if erc20 %}{{ erc20.contract_symbol }}{% endif %}</p></dd>
        <dt>Project name</dt>
        <dd><p>{{ version.title }}</p></dd>
        <dt>Allowed uses of money</dt>
        <dd>{{ allowed_use }}</dd>
        <dt>Allowed using money for advertisment</dt>
        <dd><p>{{ version.allow_advertisement }}</p></dd>
        <dt>Allowed using money for press releases</dt>
        <dd><p>{{ version.allow_press_releases }}</p></dd>
        <dt>URL</dt>
        <dd><p><a href="{{ version.url }}">{{ version.url }}</a></p></dd>
        <dt>Ownership</dt>
        <dd><p>{{ ownership }}</p></dd>
        <dt>Country</dt>
        <dd><p>{{ version.country.name }}</p></dd>
        <dt>Organization name</dt>
        <dd><p>{{ version.organization_name }}</p></dd>
        <dt>Organization number</dt>
        <dd><p>{{ version.organization_number }}</p></dd>
    </dl>
    <h3>Old versions of the project</h3>

    <ul>
        {% for v in old %}
            <li><a href="{% url 'project:view-old' v.pk %}">{{ v.created }}</a>
                {% if v.pk == version.pk %}(this one){% endif %}
            </li>
        {% endfor %}
    </ul>

    <h3>Old Ethereum smart contracts</h3>

    {% for t in old_erc20 %}
        <ul>
            <li>owner: {{ t.owner }} <strong>/</strong> address: {{ t.address }}
                <strong>/</strong>
                symbol: {{ t.contract_symbol }} <strong>/</strong>
                name: {{ t.contract_name }}
                {% if t == project.current_erc20_token %}
                    (current)
                {% endif %}
            </li>
        </ul>
    {% empty %}
        <p>None</p>
    {% endfor %}

    {% if project.user == user %}
        <div id="changeOwnerStart" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background:red">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Change project owner</h4>
                    </div>
                    <div class="modal-body">
                        <p class="alert alert-danger">Are you completely sure that you want to change owner account?</p>
                        <p>You may become unable to withdraw money and do other operations after this!</p>
                        <p>Click <q>Cancel</q> if not sure.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-default" style="background:red"
                                data-dismiss="modal" data-toggle="modal" data-target="#changeOwnerEnter">Next&gt;&gt;
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div id="changeOwnerEnter" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background:red">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Change project owner</h4>
                    </div>
                    <div class="modal-body">
                        <p>New owner address: <input type="text" id="ownerAddress" style="width:100%"/>
                            (check twice!)</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-default" style="background:red"
                                data-dismiss="modal"
                                onclick="launch_confirm_owner_change()">Next&gt;&gt;
                        </button>
                    </div>
                </div>

            </div>
        </div>

        <div id="changeOwnerConfirm" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background:red">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Change project owner</h4>
                    </div>
                    <div class="modal-body">
                        <p>New owner address: <span id="confirmOwnerAddress"></span></p>
                        <p>Check twice! If you enter a wrong address you won't be able to restore it!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                                style="background:red" onclick="change_owner()">Change!
                        </button>
                    </div>
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts2 %}
    <script src="https://cdn.jsdelivr.net/gh/vast-engineering/jquery-popup-overlay@2/jquery.popupoverlay.min.js"></script>
    <script src="{% static 'myweb3.js' %}"></script>
{% endblock %}