{% extends "main/base.html" %}
{% load static %}

{% block title %}Withdraw Ether{% endblock %}
{% block header %}Withdraw Ether{% endblock %}
{% block shortheader %}Withdraw Ether{% endblock %}
{% block breadcrumbs %}
    <li><a href="{% url 'project:withdraw' version.project.pk %}">Withdraw</a></li>
{% endblock %}

{% block scripts %}
    <link rel="stylesheet" href="/static/ui-loader/loader.min.css" />
    {{ form.media }}
    <script>
        var abi = undefined;

        function undim(e) {
            alert(e);
            $('#dimmer').css('display', 'none');
            $('#pay_btn').prop('disabled', false);
        }

        function withdraw() {
            $('#dimmer').css('display', 'block');
            try {
                var contract = window.web3.eth.contract(abi);
                var contractInstance = contract.at('{{erc20.address}}');
                var address = $('#id_wallet').val();
                var amount = $('#id_amount').val();
                if(address == "") address = '0x0'; // use owner account
                amount = web3.toWei(amount, 'ether');
                contractInstance.withdrawEther.sendTransaction(address, amount, {from: '{{erc20.owner}}'}, function(error, result) {
                    if(error) {
                        undim(error);
                        return;
                    }
                    $('#id_done').val('1');
                    $('#main_form').submit();
                });
            }
            catch(e) { undim(e); }
        }

        function xsubmit() {
            $('#pay_btn').prop('disabled', true);
            $('#dimmer').css('display', 'block');
            if(abi) // already loaded
                withdraw();
            else
                $.get('/static/generated/abi.json', function(_abi) {
                    abi = _abi;
                    withdraw();
                }, 'json');
        }

        {% if stage == 1 %}
        $(function() {
            myweb3_init(xsubmit);
        });
        {% else %}
        $(function() {
            myweb3_init(function(){});
        });
        {% endif %}
    </script>
{% endblock %}

{% block content %}

<div id="dimmer" class="ui segment" style="position:fixed; left:0px; top:0px; width:100%; height:100%; z-index:100; display:none">
  <div class="ui dimmer" style="position:fixed; width:100%; height:100%; background:gray">
    <div class="ui massive text loader">Transferring money</div>
  </div>
  <p></p>
</div>

<p>After you withdraw, you will need to <a href="{% url 'main:crypto-affiliate' %}">sell Ether</a>.</p>

<p><b>Project</b>: {{ version.title }}</p>

{% include 'main/errors.html' %}
<form action="" method="post" onkeypress="return event.keyCode != 13;"
      id="main_form">
    {% csrf_token %}
    <input type="hidden" name="done" id="id_done" />
    <table>
    {{ form.as_table }}
    </table>
    <p><strong>You must use withdrawn money only for the project.</strong>
        Your money usage will be displayed publicly.</p>
    <p>
    <input id="pay_btn" type="submit" value="Pay"  onclick="return confirm('Withdraw money?');" />
    </p>
</form>

{% endblock %}

{% block scripts2 %}
    <script src="{% static 'web3/web3.min.js' %}"></script>
    <script src="{% static 'myweb3.js' %}"></script>
{% endblock %}