{% extends "main/base.html" %}
{% load static %}

{% block title %}User's projects{% endblock %}
{% block header %}User's projects{% endblock %}
{% block shortheader %}User's projects{% endblock %}

{% block css %}
{% endblock %}

{% block scripts %}
<script>
var contracts = [
    {% for i, project, version in projects %}
    '{% if project.current_ethereum_wallet %}{{ project.current_ethereum_wallet.address }}{% endif %}',
    {% endfor %}
];

function renderOne(i) {
    return function(error, result) {
        $('#p'+i).text(window.web3.fromWei(result) + ' ETH');
    }
}

function render() {
    for(var i in contracts) {
        if(contracts[i] != '')
            window.web3.eth.getBalance(contracts[i], renderOne(i));
        else
            $('#p'+i).text('none');
    }
}

$(function() {
    myweb3_init(render);
});
</script>
{% endblock %}

{% block content %}

<p>User: <a href="{% url 'user:account' %}">{{user.username}}</a></p>

{% if projects %}
<p>This page does not work with Mist 0.11.1. Use MetaMask instead.</p>
<table>
    <tr><th>Project</th><th>Contract balance</th></tr>
    {% for i, project, version in projects %}
    <tr>
        <td>
            <a href="{% url 'project:view' project.pk %}">{{ version.title }}</a>
            {% if project.disabled %}
            (disabled)
            {% endif %}
        </td>
        <td id="p{{i}}">loading...</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No projects for this user.</p>
{% endif %}

{% endblock %}

{% block scripts2 %}
<script src="{% static 'myweb3.js' %}"></script>
{% endblock %}