{% load bootstrap3 %}
{% load static %}

{% comment %}
{% block adkeywords %}nonprofit,nonprofits,crowdfunding,crowdfund,donation{% endblock %}
{% endcomment %}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <base href="{% static 'newdesign/' %}"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CryptoNGO - {% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="{% static 'favicon32x32.png' %}">
    <!-- All STYLESHEET CSS -->
    {% bootstrap_css %}
    {# TODO: Don't load Juery UI for pages not requiring it. #}
    <link rel='stylesheet' type='text/css' href='{% static 'jquery-ui-1.12.1.custom/jquery-ui.min.css' %}'/>
    <link rel="stylesheet" href="css/element.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/custom.css">
    <script src="js/vendor/jquery-1.12.0.min.js"></script>
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
    <style>
        button[disabled], input[type=button][disabled] {
            color: gray
        }

        .my-radio-widget {
            display: inline-block;
            margin-bottom: 0;
            padding-bottom: 0
        }

        .popup {
            background: white;
            max-width: 20em;
            border: 1px solid black;
            padding: 0.5ex;
        }

        .popup-link {
            text-decoration-style: dashed ! important;
            text-decoration-line: underline;
        }

        .required th label::after {
            content: "*";
        }

        .errorlist {
            color: red
        }

        td, th {
            padding: 2px;
            border: 1px solid #eee
        }

        .layout td, .layout th {
            padding: 0;
            border: none
        }

        input[type=text], input[type=url], input[type=number] {
            width: 100%
        }

        form td > ul, form td > div > ul {
            list-style: none;
            padding-left: 0px
        }

        {% block css %}{% endblock %}
    </style>
    {% block scripts %}{% endblock %}
    {% block moreheader %}{% endblock %}
</head>

<body>
<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<!-- Start Preloader -->
<!--preloader start-->
<div class="preloader">
    <div class="preloader-wrapper">
        <div class="preloader-img">
            <img src="img/preloader.png" alt="Preloader Image">
        </div>
    </div>
</div>
<!--preloader end-->
<!-- End Preloader -->
<!-- Start Main Wrapper -->
<div class="main-wrapper">
    <!-- Start Header Section -->
    <header>
        <nav>
            {% include 'main/top-header.html' %}
            <div class="header-area header-style-multipage stricky">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-2">
                            <div class="logo">
                                <a href="/"> <img src="img/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-10 main-menu-wrapper">
                            <div class="multipage-wrapper">
                                <ul class="main-menu">
                                    {% include 'main/menu.html' %}
                                </ul>
                                {#                            <div class="search-option">#}
                                {#                                <ul>#}
                                {#                                    <li><a href="cry-token.html#" class="search-button"><i class="fa fa-search"></i></a>#}
                                {#                                        <ul>#}
                                {#                                            <li>#}
                                {#                                                <input class="form-control" name="name" type="text" placeholder="SEARCH"#}
                                {#                                                       required>#}
                                {#                                            </li>#}
                                {#                                        </ul>#}
                                {#                                    </li>#}
                                {#                                </ul>#}
                                {#                            </div>#}
                            </div>
                        </div>
                        <div class="mobile-menu-area">
                            <div class="mobile-menu">
                                <ul>
                                    {% include 'main/menu.html' %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- End Header Section -->
    <!-- Start Banner Area -->
    <nav>
        <div class="banner-area banner-bg-4 ptb-120 bg-opacity-black-40">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="banner">
                            <h2>{% block shortheader %}{% endblock %}</h2>
                            <ul class="page-title-link">
                                <li><a href="/">Home</a></li>
                                {% block breadcrumbs %}{% endblock %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- End Banner Area -->
    <!-- Start Main Content Wrapper -->
    <div class="main-content-wrapper">
        {# FIXME: not clickable #}
        <nav class="text-right">
            <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <div class="addthis_inline_share_toolbox"
                 style="margin-top: 4px; margin-left: 0.3em; z-index: 10000"></div>
        </nav>
        <div class="content-section-area ptb-100 bg-service cry">
            <div class="container" style="margin-top:60px;">
                <div class="row">
                    <div class="service-wrapper">
                        <div class="col-md-12">
                            <div class="service-text">
                                <div class="service-wrapper">
                                    <div class="col-md-12" style="margin-bottom:10px;">
                                        <div class="service-text">
                                            {% bootstrap_messages %}
                                            <h2>{% block header %}{% endblock %}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Start About Text Section -->
        <div class="content-section-area ptb-100 bg-service cry">
            <div class="container">
                <div class="row">
                    <div class="service-wrapper">
                        <div class="col-md-12">
                            <div class="service-text">
                                <div class="service-wrapper">
                                    <div class="col-md-12" style="margin-bottom:10px;">
                                        {% block content %}{% endblock %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Footer Section -->
                <div class="clearfix"></div>

                <!-- Start Footer Section -->
                <!-- End Main Content Wrapper -->
            </div>
        </div>

    </div>
    {% include 'main/footer.html' %}
</div>

{% include 'main/end.html' %}
{% block scripts2 %}{% endblock %}

</body>
</html>