{% extends "main/base.html" %}

{% block moreheader %}<meta name="robots" content="noindex" />{% endblock %}
{% block title %}Download ebook{% endblock %}
{% block header %}Download ebook{% endblock %}
{% block shortheader %}Ebook{% endblock %}
{% block breadcrumbs %}
    <li><a href="{% url 'main:ebook-form' %}">Ebook</a></li>
{% endblock %}

{% block content %}
{# <div id="dialog" title="Download ebook" style="display: none"> #}
    <p>Fill the form for free entertaining ebook download.</p>
    <form method="post" action="{% url 'main:ebook-form' %}" target="_blank" class="dialog-form">
        {% csrf_token %}
        <table>
            <col style="width:15em" />
            {{ form }}
        </table>
        <p><input type="submit" value="Download"></p>
    </form>
{# </div> #}
{% endblock %}