{% load static %}
{% load bootstrap3 %}
<script src="js/plugins.js"></script>
<script src="js/instafeed.html"></script>
<script src="js/main.js"></script>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script async type="text/javascript"
        src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5cfd1ca0e144ec14"></script>
{{ googlytics_code }}
{% bootstrap_javascript %}
<script type='text/javascript' src='{% static 'jquery-ui-1.12.1.custom/jquery-ui.min.js' %}'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
<script src="{% static 'main.js' %}"></script>

<nav id="no_web3_warning"
     style="display: none; position: fixed; bottom: 0px; background: red; color: white; text-align: center; padding: 3px">
    Non-Ethereum browser detected. You should consider trying
    <a href="https://metamask.io" target="_blank" style="color: #0ff">MetaMask</a>.
    <span aria-hidden="true"
          onclick="$('#no_web3_warning').remove()"
          style="font-weight: bold; font-size: larger; cursor: pointer">&times;</span>
</nav>
