<div class="clearfix"></div>
<footer>
    <nav>
        <div class="footer-widget-area ptb-100 footer-weve ">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="footer-widget-item">
                            <div class="logo footer-logo">
                                <a href="/"><img src="img/footer.png" alt=""></a>
                            </div>
                            <p>This entire project is run
                                by a skilled cryptocurrency
                                enthusiast who is passionate
                                about helping worthy
                                non-profit projects receive
                                the funding they deserve.</p>
                            <ul class="widget-address">
                                <li><a href="#" onclick="return false"><i class="fa fa-map-marker m-5"></i> Shay Agnon
                                    32-29,
                                    Ashkelon, Israel</a></li>
                                <li><a href="mailto:porton@narod.ru"><i class="fa fa-envelope m-5"></i> porton@narod.ru</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="footer-widget-item">
                            <h4>USEFUL LINKS</h4>
                            <ul class="widget-link">
                                {% include 'main/menu.html' with in_footer=True %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="footer-widget-item">
                            <h4>NEWSLETTER SIGNUP</h4>
                            <div class="form-subscribe">
                                <form method="post" action="{% url 'main:subscribe-simple' %}">
                                    {% csrf_token %}
                                    <input class="form-control" type="email" placeholder="Subscribe Now" name="email">
                                    <button class="submit" href="#" style="border: 0">
                                        <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                </form>
                            </div>
                            <h4>Footer Social</h4>
                            <ul class="social-bookmarkas">
                                <li><a href="https://www.facebook.com/crypto4ngo/"><i class="ti-facebook"></i></a></li>
                                <li><a href="https://twitter.com/crypto4ngo"><i class="ti-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/23718851/"><i class="ti-linkedin"></i></a>
                                </li>
                                <li><a href="https://www.youtube.com/channel/UCtIa80EJ5J9kaKxJ7Wa9Fmw"><i
                                        class="ti-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 3ex">
                    <p>Syndicate: <a href="{% url 'project:feed' %}">Projects RSS</a> |
                        <a href="{% url 'project:feed-investments' %}">Projects RSS (investments)</a> |
                        <a href="https://crypto4ngo.org/blog/feed/">Blog RSS</a> ||
                        <a href="{% url 'main:ebook-form' %}">Free entertaining ebook download</a></p>
                </div>
            </div>
        </div>
        <div class="footer-bottom text-center">
            <div class="container">
                <div class="row">
                    <div class="copyright">
                        <p>Copyright 2019 &copy; <a href="/">CryptoNGO</a>. All Rights
                            Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</footer>