<li><a href="/">{% if in_footer %}<i class="fa fa-long-arrow-right" aria-hidden="true"></i>{% endif %}Home</a></li>
<li><a href="{% url 'project:list' %}">{% if in_footer %}
    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>{% endif %}Projects</a></li>
<li><a href="{% url 'project:create' %}">{% if in_footer %}
    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>{% endif %}Add project</a></li>
<li><a href="#" onclick="return false">{% if in_footer %}<i class="fa fa-long-arrow-right" aria-hidden="true"></i>{% endif %}Docs <b
        class="caret"></b></a>
    <ul>
        <li><a href="{% url 'docs:raisers' %}">For money raisers</a></li>
        <li><a href="{% url 'docs:traders' %}">For investors/traders</a></li>
        <li><a href="{% url 'docs:donors' %}">For donors</a></li>
        <li><a href="{% url 'docs:bitcoin-ethereum' %}">Crypto Crowdfunding</a></li>
        <li role="separator" class="divider"></li>
        <li>
            <a href="https://crypto4ngo.org/blog/2019/07/frequently-asked-questions/">FAQ</a>
        </li>
        <li>
            <a href="https://crypto4ngo.org/blog/2019/07/cryptongo-cry-token-white-paper/">Whitepaper</a>
        </li>
        <li role="separator" class="divider"></li>
        <li><a href="#" onclick="return false">About &raquo;</a>
            <ul>
                <li><a href="{% url 'docs:help' %}">Help</a></li>
                <li><a href="{% url 'docs:rules' %}">Rules</a></li>
                <li><a href="{% url 'docs:charter' %}">Charter</a></li>
                <li><a href="{% url 'docs:misc' %}">Misc</a></li>
                <li><a href="{% url 'docs:privacy' %}">Privacy policy</a></li>
                <li><a href="{% url 'docs:editorial-guidelines' %}">Editorial guidelines</a></li>
                <li><a href="{% url 'docs:team' %}">Team</a></li>
            </ul>
        </li>
    </ul>
</li>
<li><a href="/blog/">{% if in_footer %}<i class="fa fa-long-arrow-right" aria-hidden="true"></i>{% endif %}Blog</a></li>
<li><a href="#" onclick="return false">{% if in_footer %}<i class="fa fa-long-arrow-right" aria-hidden="true"></i>{% endif %}Support <b
        class="caret"></b></a>
    <ul>
        <li><a href="/forum/">Forums</a></li>
        <li><a href="{% url 'contact:contact' %}" rel="nofollow">Contact us</a></li>
{#        <li><a href="https://search.google.com/local/writereview?placeid=">Review us</a></li>#}
    </ul>
</li>
<!--li><a href="{% url 'project:view' 1 %}"
       style="text-decoration:underline;color:#337ab7;">{% if in_footer %}
    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>{% endif %}CRY Token</a></li-->