<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="header-top-left">

                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="header-top-right">
                    <ul class="info-login">
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'user:account' %}" rel="nofollow"
                                   rel="nofollow"><i class="fa fa-user" aria-hidden="true"></i> Account</a>
                            <li><a href="{% url 'logout' %}" rel="nofollow"
                                   rel="nofollow"><i class="fa fa-sign-out" aria-hidden="true"></i> Log out</a>
                                {% else %}
                            <li><a href="{% url 'login' %}?next={{ request.path }}" rel="nofollow"
                                   rel="nofollow"><i class="fa fa-user" aria-hidden="true"></i> Login</a>
                            </li>
                            <li><a href="{% url 'user:register' %}" rel="nofollow"><i class="fa fa-sign-in"
                                                                                      aria-hidden="true"></i>
                                Sign
                                Up</a></li>
                        {% endif %}
                        <li class="buy"><a target="_blank" rel="nofollow"
                                           href="https://www.coinmama.com/?cxd=57420_489863&affid=57420"
                                           rel="nofollow">Buy/Sell
                            Crypto</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>