{% extends "main/base.html" %}

{% block moreheader %}<link rel="canonical" href="{% url 'main:crypto-affiliate' %}" />{% endblock %}
{% block title %}Buy/sell/trade crypto{% endblock %}
{% block header %}Buy/sell/trade crypto{% endblock %}
{% block shortheader %}Trade crypto{% endblock %}
{% block breadcrumbs %}
    <li><a href="Trade crypto">Trade crypto</a></li>
{% endblock %}

{% block content %}
{# http://exadex.org/ethereumaffiliate/ #}
{# Most affiliates do not provide automated withdrawals. #}

<p>
    <a href="https://go.coinmama.com/visit/?bta=57420&nci=5360" target="_Top"><a href="https://go.coinmama.com/visit/?bta=57420&nci=5360" target="_blank"><img src="https://coinmama.ck-cdn.com/tn/serve/?cid=489853" style="border: 1px dotted blue" width="550" alt="Buy BitCoin and Ethereum with credit card"></a>
    <a href="https://go.coinmama.com/visit/?bta=57420&nci=5388" target="_Top"><a href="https://go.coinmama.com/visit/?bta=57420&nci=5388" target="_blank"><img src="https://coinmama.ck-cdn.com/tn/serve/?cid=489850" style="border: 1px dotted blue" width="550" alt="Buy BitCoin with SWIFT bank transfer"></a>
    <a href="https://go.coinmama.com/visit/?bta=57420&nci=5383" target="_Top"><a href="https://go.coinmama.com/visit/?bta=57420&nci=5383" target="_blank"><img src="https://coinmama.ck-cdn.com/tn/serve/?cid=489851" style="border: 1px dotted blue" width="550" alt="Sell BitCoin using SEPA bank transfer"></a>
    <a href="https://go.coinmama.com/visit/?bta=57420&nci=5371" target="_Top"><a href="https://go.coinmama.com/visit/?bta=57420&nci=5371" target="_blank"><img src="https://coinmama.ck-cdn.com/tn/serve/?cid=489852" style="border: 1px dotted blue" width="550" alt="Buy crypto with SEPA bank transfer"></a>
</p>
{% endblock %}