{% extends "main/base.html" %}

{% block css %}
table, textarea, #id_subject { width: 100% }
{% endblock %}
{% block scripts %}
<script async src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block title %}Contact form{% endblock %}
{% block header %}Contact form{% endblock %}
{% block shortheader %}Contact form{% endblock %}
{% block breadcrumbs %}
    <li><a href="{% url 'contact:contact' %}">Contact us</a></li>
{% endblock %}

{% block content %}

<p>Send email to site administration. Take into account that we are busy.</p>

{% include 'main/errors.html' %}

<form method="post" action="">
{% csrf_token %}
<table>
{{form}}
</table>
<input type="submit" value="Send"/>
</form>

{% endblock %}
