{% extends "main/base.html" %}

{% block title %}Thanks for contacting us{% endblock %}
{% block header %}Thanks for your email{% endblock %}
{% block shortheader %}Thank you{% endblock %}

{% block content %}

{#% include 'main/errors.html' %#}

<dl>
    <dt>Your email:</dt>
    <dd>{{form.from_email.value}}</dd>
    <dt>Your subject:</dt>
    <dd>{{form.subject.value}}</dd>
    <dt>Your message:</dt>
    <dd>{{form.text.value|linebreaks}}</dd>
</dl>

{% endblock %}
