.footer-widget-area p a {
  z-index: 1;
  position: relative;
}
@media (max-width: 991px) and (min-width: 768px){
  .mean-container a.meanmenu-reveal {
      top: 6px;
  }
}
@media (max-width: 767px){
  .header-style-multipage .mean-container .mean-bar {
      float: none;
      right: 0px !important;
      width: 100%;
  }
  .stricky-fixed.header-style-multipage .mean-container .mean-bar {
      right: 15px;
      top: 3px;
  }
}
@media only screen and (max-width: 991px){
  .header-area.header-style-multipage.stricky-fixed {
    animation-name: none;
  }
  .mean-container .mean-nav{
    overflow-y: auto;
    max-height: 360px;
  }
}
@media only screen and (max-width: 991px) and (max-height: 400px){
  .header-area{
    position: static !important;
    animation-name: none !important
  }
}
@media only screen and (max-width: 991px) and (max-height: 440px){
  .mean-container .mean-nav{
    overflow-y: auto;
    max-height: 300px;
  }
}
@media only screen and (max-width: 991px) and (max-height: 440px){
  .mean-container .mean-nav{
    overflow-y: auto;
    max-height: 250px;
  }
}
@media only screen and (max-width: 767px) and (min-width: 480px){
  .header-style-multipage .mean-container .mean-bar {
    left: -9px;
    top: 48px;
  }
}
@media only screen and (max-width: 479px) and (min-width: 466px){
  .header-style-multipage .mean-container .mean-bar {
    left: -9px;
    top: 88px;
  }
}
@media (max-width: 991px) and (min-width: 768px){
  .footer-widget-item {
      height: 340px;
  }
}
@media only screen and (max-width: 768px){
  ul.widget-link, .footer-widget-item{
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 466px){
  .header-style-multipage .mean-container .mean-bar {
    left: -9px;
  }
}





@media (max-width: 991px) and (min-width: 768px){
  .main-menu-wrapper {
      display: block;
  }
  .mobile-menu-area {
      display: none;
  }
  .main-menu > li > a {
    font-size: 12px;
    padding: 25px 5px;
  }
  .logo {
    margin: 14px 0;
  }
  .logo img{
    width: 80%;
  }
}

.main-menu ul {
  margin: 0px
}

.main-menu li {
  list-style: none;
}