The amount of tokens sent back is calculated by the formula <i>e</i><sup>2</sup>/(<i>T</i>+<i>e</i>) where <i>T</i> is
the total amount of Ether received to this token before the purchase and <i>e</i> is the amount of Ether sent
in this transaction. Note that this formula offers huge discounts to big (<q>wholesale</q>) transactions.