{% extends "main/base.html" %}

{% block title %}404{% endblock %}
{% block header %}404{% endblock %}
{% block shortheader %}404{% endblock %}

{% block content %}
    <h3>Not Found</h3>
    <p><a href="/" class="button active">Back To Home</a></p>
{% endblock %}
